/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: url("assets/images/flights-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 100vw;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .logo_box {
    background-image: url("https://tsflights-images.firebaseapp.com/TsFlightsHorizLogo.jpg");
    height: 80px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 20px;
    align-self: flex-start;
    @media screen and (max-width: 497px){
      width: 200px;
      margin-left: 4px;
      margin-top: 7px;
    }
  }

  .link_box {
    margin: 10px;
    a {
      box-shadow:inset 0px 1px 0px 0px #54a3f7;
      background: #007dc1 linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
      border-radius:3px;
      border:1px solid #124d77;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-size:13px;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #154682;
      margin-right: 10px;
    }
    a:hover {
      background: #0061a7 linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    }
    a:active {
      position:relative;
      top:1px;
    }
  }
}
